---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Back-End</h2>
		<p>
			Porté par mon intérêt pour la logique et l'efficacité, je me suis orienté vers le développement back-end,
			un domaine qui me permet d'exprimer pleinement mes compétences tout en réalisant des objectifs de plus en plus complexes.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Autonome</h2>
		<p>
			Après mes études, j'ai pris l'initiative de développer mes compétences de manière autonome,
			ce qui m'a permis d'améliorer significativement mes capacités techniques et professionnelles.
			Je suis totalement à l'aise avec le fait de	travailler de manière indépendante.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="sun" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Communication</h2>
		<p>
			Je suis attentif aux autres et j’accueille les retours avec ouverture, car ils me permettent de grandir et de m’améliorer.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
		text-align: justify;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}

</style>
